
.featured-game{
    grid-column: 1/2;
}

.featured-definition{
    grid-column: 3/4;
}

.preview-img{
    width:100%;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

#hero-img{
    grid-column: 1/4;
    width:100%;
}

.centered-whole-width{
    grid-column: 1/4;
    margin: 0 auto;
    padding: 5px;
}

hr.solid {
    border: 2px solid #036D19;
    border-radius:3px;
}

footer{
    border: solid #036D19;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

footer h3{
    margin: 10px;
    height: 50px;
    font-family: 'Russo One', sans-serif;
    color:#DCE1DE;
}

footer h3 a{
    text-decoration: none;
}

header{
    font-family: 'Russo One', sans-serif;
}

h1{
    font-family: 'Russo One', sans-serif;
}

p{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #392F5A;
}

body{
    background-color: #392F5A;
    color:#39EC29;
}

a{
    color:#DCE1DE;
}

a :hover{
    color:#2BF319;
}

a :visited{
    color:#00991F;
}

header nav{
    border:solid #036D19;
    padding: 10px;
}

header nav a{
    text-decoration:none;
    font-size:x-large;
    padding-left:10px;
    padding-right: 20px;
    border:solid #036D19;
}

.logo{
    width:120px;
}

header.logo{
    float:left;
    align-self: center;
}